In [2]:
from urllib.request import urlopen
import gender_guesser.detector as gender
import pandas as pd
import requests
import json
import re
import csv

In [3]:
path = 'C:/Users/user/Jupyter/IronHack/Work - Python/Week3/Personal Project Web Scraping/goya.csv'

df_goya = pd.read_csv(path)

list_of_names_goya = df_goya['Movie Director'].tolist()
pattern = re.compile(r'(\d)') 
list_of_cleaned_names_goyas =[]
for name in list_of_names_goya:
    name_toclean = str(name)
    cleaned_strings = pattern.sub('', name_toclean)   
    list_of_cleaned_names_goyas.append(cleaned_strings.replace("  (no se otorgó)","").replace(" () ", "").replace('\n',''))
pattern = r'^\W*\w+'
list_of_names_final_goya = []
for director in list_of_cleaned_names_goyas:
    list_of_names_final_goya.append(re.findall(pattern, director))

# Imprimir los nombres limpios
list_of_cleaned_names_goya=[]
for name in list_of_names_final_goya:
    name_toclean = str(name)
    list_of_cleaned_names_goya.append(name_toclean
                                 .replace("['", "")
                                 .replace("']", "")
                                 .replace("nan", "")
                                 .replace("é", "e")
                                 .replace("Á", "A")
                                 .replace("í", "i"))
df_list_of_cleaned_names_goya = pd.DataFrame()
df_list_of_cleaned_names_goya['Name'] = list_of_cleaned_names_goya

In [4]:
# Function to detect gender from names
def detect_gender(df_list_of_cleaned_names_gender_goya, list_of_cleaned_names_goya):
    df_list_of_cleaned_names_gender_goya = pd.DataFrame()
    d = gender.Detector()
    
    df_list_of_cleaned_names_gender_goya['Gender'] = [d.get_gender(x) for x in list_of_cleaned_names_goya]
    df_list_of_cleaned_names_gender_goya.loc[ df_list_of_cleaned_names_gender_goya['Gender'] == 'mostly_male', 'Gender'] = 'male'
    df_list_of_cleaned_names_gender_goya.loc[ df_list_of_cleaned_names_gender_goya['Gender'] == 'mostly_female', 'Gender'] = 'female'
    df_results = pd.DataFrame()   
    df_results['Name'] = list_of_cleaned_names_goya
    df_results['Gender'] = df_list_of_cleaned_names_gender_goya
    return df_results

In [5]:
df_list_of_cleaned_names_gender_goya = detect_gender(df_list_of_cleaned_names_goya, list_of_cleaned_names_goya)

In [6]:
df_list_of_cleaned_names_gender_goya.tail(38)

         Name   Gender
1        Jose     male
2     Gonzalo     male
3       Ferdo     male
4      Carlos     male
5     Vicente     male
6       Ferdo     male
7        Luis     male
8      Imanol     male
9        Alex     male
10      Pilar   female
11    Ricardo     male
12      Ferdo     male
13      Pedro     male
14       Jose     male
15  Alejandro     male
16      Ferdo     male
17      Iciar   female
18  Alejandro     male
19     Isabel   female
20      Pedro     male
21      Jaime     male
22     Javier     male
23     Daniel     male
24     Agusti     male
25    Enrique     male
26       Juan     male
27      David     male
28    Alberto     male
29       Cesc     male
30       Juan     male
31     Isabel   female
32    Rodrigo     male
33      Pedro     male
34   Salvador     male
35      Ferdo     male
36    Rodrigo     male
37       Juan     male
38             unknown

In [7]:
df_list_of_cleaned_names_gender_goya['Gender'].tail(38).value_counts().reset_index()

    Gender  count
0     male     33
1   female      4
2  unknown      1

In [8]:
path = 'C:/Users/user/Jupyter/IronHack/Work - Python/Week3/Personal Project Web Scraping/oscar.csv'

df_oscar = pd.read_csv(path)
directors_oscars = df_oscar['Movie Director'].tolist()
pattern = r'^\W*\w+'
list_of_names_oscars = []
for director in directors_oscars:
    list_of_names_oscars.append(re.findall(pattern, director))

list_of_cleaned_names_oscars=[]
unicode_character = "\u0161"
df_names = pd.DataFrame()
for name in list_of_names_oscars:
    name_toclean = str(name)
    sin_milos = name_toclean.replace('Miloš','Milos')
    list_of_cleaned_names_oscars.append(sin_milos.replace("['", "").replace("']", "").replace("é","e"))

df_list_of_cleaned_names_oscars = pd.DataFrame()
df_list_of_cleaned_names_oscars['Name'] = list_of_cleaned_names_oscars

In [9]:
def detect_gender(df, list_of_names):
    # Make a copy of the DataFrame to avoid modifying the original DataFrame
    df_result = df.copy()   
    # Initialize a gender detector
    d = gender.Detector()   
    # Create a list to store gender predictions based on names
    gender_predictions = []   
    # Iterate over each name in the list_of_names and predict the gender
    for name in list_of_names:
        gender_predictions.append(d.get_gender(name))
    
    # Map 'mostly_male' to 'male' and 'mostly_female' to 'female'
    gender_predictions = ['male' if gender == 'mostly_male' else
                          'female' if gender == 'mostly_female' else
                          'unknown' if gender == 'unknown' else
                          gender for gender in gender_predictions] 
    df_results = pd.DataFrame()
    df_results['Name'] = df
    df_results['Gender'] = gender_predictions
    return df_results

In [10]:
gender_predictions_oscars = detect_gender(df_list_of_cleaned_names_oscars, list_of_cleaned_names_oscars)
gender_predictions_oscars.tail(38)

           Name  Gender
58       Oliver    male
59     Bernardo    male
60        Barry    male
61        Bruce    male
62        Kevin    male
63     Jonathan    male
64        Clint    male
65       Steven    male
66       Robert    male
67          Mel  female
68      Anthony    male
69        James    male
70         John    male
71          Sam    male
72       Ridley    male
73          Ron    male
74          Rob    male
75        Peter    male
76        Clint    male
77         Paul    male
78       Martin    male
79        Ethan    male
80        Danny    male
81      Kathryn  female
82          Tom    male
83       Michel    male
84          Ben    male
85        Steve    male
86    Alejandro    male
87          Tom    male
88        Barry    male
89    Guillermo    male
90        Peter    male
91         Bong    andy
92        Chloe  female
93         Sian  female
94       Daniel    male
95  Christopher    male

In [11]:
gender_predictions_oscars['Gender'].tail(38).value_counts().reset_index()

   Gender  count
0    male     33
1  female      4
2    andy      1

##### Comparando los resultados:
###### . Las mujeres segun el codigo en goya seria = 4 y yo veo = 4
###### . Las mujeres segun el codigo en oscars seria = 10 y yo veo = 3

#### Verificando por mi mismo

In [12]:
path = 'C:/Users/user/Jupyter/IronHack/Work - Python/Week3/Personal Project Web Scraping/goya_gender.csv'

df_goya = pd.read_csv(path,sep=';')
df_goya

,Goya Year,Movie Director,Gender
0,1.ª edición - 1987 17 de marzo de 1987,Fernando Fernán Gómez (no se otorgó),Male
1,2.ª edición - 1988 22 de marzo de 1988,José Luis Garci (no se otorgó),Male
2,3.ª edición - 1989 22 de marzo de 1989,Gonzalo Suárez (no se otorgó),Male
3,4.ª edición - 1990 10 de marzo de 1990,Fernando Trueba (1) Ana Díez,Male
4,5.ª edición - 1991 16 de febrero de 1991,Carlos Saura Rosa Vergés,Male
5,6.ª edición - 1992 7 de marzo de 1992,Vicente Aranda Juanma Bajo Ulloa,Male
6,7.ª edición - 1993 14 de marzo de 1993,Fernando Trueba (2) Julio Medem,Male
7,8.ª edición - 1994 21 de enero de 1994,Luis García Berlanga Mariano Barroso,Male
8,9.ª edición - 1995 20 de enero de 1995,Imanol Uribe La Cuadrilla (S. Aguilar y L. Gu...,Male
9,10.ª edición - 1996 27 de enero de 1996,Álex de la Iglesia Agustín Díaz Yanes,Male
10,11.ª edición - 1997 25 de enero de 1997,Pilar Miró Alejandro Amenábar (1),Female
11,12.ª edición - 1998 31 de enero de 1998,Ricardo Franco Fernando León de Aranoa (1),Male
12,13.ª edición - 1999 24 de enero de 1999,Fernando León de Aranoa (2) Santiago Segura,Male
13,14.ª edición - 2000 29 de enero de 2000,Pedro Almodóvar (1) Benito Zambrano,Male
14,15.ª edición - 2001 3 de febrero de 2001,José Luis Borau Achero Mañas,Male
15,16.ª edición - 2002 2 de febrero de 2002,Alejandro Amenábar (2) Juan Carlos Fresnadillo,Male
16,17.ª edición - 2003 1 de febrero de 2003,Fernando León de Aranoa (3) Roger Gual y Juli...,Male
17,18.ª edición - 2004 31 de enero de 2004,Icíar Bollaín Ángeles González-Sinde,Female
18,19.ª edición - 2005 30 de enero de 2005,Alejandro Amenábar (3) Pablo Malo,Male
19,20.ª edición - 2006 29 de enero de 2006,Isabel Coixet (1) José Corbacho y Juan Cruz,Female
20,21.ª edición - 2007 28 de enero de 2007,Pedro Almodóvar (2) Daniel Sánchez Arévalo,Male
21,22.ª edición - 2008 3 de febrero de 2008,Jaime Rosales Juan Antonio Bayona (1),Male
22,23.ª edición - 2009 1 de febrero de 2009,Javier Fesser Santiago Zannou,Male
23,24.ª edición - 201014 de febrero de 2010,Daniel MonzónMar Coll,Male
24,25.ª edición - 2011 13 de febrero de 2011,Agustí Villaronga David Pinillos,Male
25,26.ª edición - 2012 19 de febrero de 2012,Enrique Urbizu Kike Maíllo,Male
26,27.ª edición - 2013 17 de febrero de 2013,Juan Antonio Bayona (2) Enrique Gato,Male
27,28.ª edición - 2014 9 de febrero de 2014,David Trueba Fernando Franco,Male
28,29.ª edición - 2015 7 de febrero de 2015,Alberto Rodríguez Carlos Marqués-Marcet,Male
29,30.ª edición - 2016 6 de febrero de 2016,Cesc Gay Daniel Guzmán,Male
30,31.ª edición - 2017 4 de febrero de 2017,Juan Antonio Bayona (3) Raúl Arévalo,Male
31,32.ª edición - 2018 3 de febrero de 2018,Isabel Coixet (2) Carla Simón,Female
32,33.ª edición - 2019 2 de febrero de 2019,Rodrigo Sorogoyen Arantxa Echevarría,Male
33,34.ª edición - 2020 25 de enero de 2020,Pedro Almodóvar (3) Belén Funes,Male
34,35.ª edición - 2021 6 de marzo de 2021,"Salvador Calvo Pilar Palomero""",Male
35,36.ª edición - 2022 12 de febrero de 2022,"Fernando León de Aranoa (4) Clara Roquet""",Male
36,37.ª edición - 2023 11 de febrero de 2023,"Rodrigo Sorogoyen (2) Alauda Ruiz de Azúa""",Male
37,38.ª edición - 2024 10 de febrero de 2024,"Juan Antonio Bayona (3) Estibaliz Urresola""",Male

In [13]:
path = 'C:/Users/user/Jupyter/IronHack/Work - Python/Week3/Personal Project Web Scraping/oscar_gender.csv'

df_oscar = pd.read_csv(path,sep=';')
df_oscar

,Oscar Year,Movie Title,Movie Studio,Movie Productor,Movie Director,Gender,Movie Genre
0,1.ª ceremonia de entrega de los Premios Óscar ...,Wings,Paramount Famous Players-Lasky,Lucien Hubbard,William A. Wellman,Male,Bélico / Cine mudo
1,2.ª ceremonia de entrega de los Premios Óscar ...,The Broadway Melody,Metro-Goldwyn-Mayer,Irving ThalbergLawrence Weingarten,Harry Beaumont,Male,Musical
2,3.ª ceremonia de entrega de los Premios Óscar ...,All Quiet on the Western Front,Universal,Carl Laemmle Jr.,Lewis Milestone,Male,Bélico
3,4.ª ceremonia de entrega de los Premios Óscar ...,Cimarron,RKO Radio,William LeBaron,Wesley Ruggles,Male,Western
4,5.ª ceremonia de entrega de los Premios Óscar ...,Grand Hotel,Metro-Goldwyn-Mayer,Irving Thalberg,Edmund Goulding,Male,Drama
...,...,...,...,...,...,...,...
91,92.ª ceremonia de entrega de los Premios Óscar...,기생충 - Gisaengchung,Barunson E&A Corp,Kwak Sin-ae Bong Joon-ho,Bong Joon-ho,Male,Drama / Suspenso / Humor negro
92,93.ª ceremonia de entrega de los Premios Óscar...,Nomadland,Searchlight Pictures,Frances McDormandPeter SpearsMollye AsherDan J...,Chloé Zhao,Female,Drama
93,94.ª ceremonia de entrega de los Premios Óscar...,CODA,PathéApple TV+,Philippe RousseletFabrice GianfermiPatrick Wac...,Sian Heder,Female,Comedia dramática / Coming-of-age
94,95.ª ceremonia de entrega de los Premios Óscar...,Everything Everywhere All at Once,A24IAC FilmsGozie AGBOYear of the RatLey Line ...,Daniel KwanDaniel ScheinertJonathan Wang,Daniel Kwan,Male,Acción / Comedia dramática / Ciencia ficción
95,96.ª ceremonia de entrega de los Premios Óscar...,Oppenheimer,Universal PicturesAtlas EntertainmentSyncopy Inc.,Christopher NolanCharles RovenEmma Thomas,Christopher Nolan,Male,Biografía / Suspense

In [14]:
path = 'C:/Users/user/Jupyter/IronHack/Work - Python/Week3/Personal Project Web Scraping/goya_gender.csv'

df_goya = pd.read_csv(path,sep=';')
print("Premios Goya")
df_goya['Gender'].tail(38).value_counts().reset_index()

Premios Goya

   Gender  count
0    Male     34
1  Female      4

In [15]:
df_goya.loc[df_goya['Gender']=='Female']

,Goya Year,Movie Director,Gender
10,11.ª edición - 1997 25 de enero de 1997,Pilar Miró Alejandro Amenábar (1),Female
17,18.ª edición - 2004 31 de enero de 2004,Icíar Bollaín Ángeles González-Sinde,Female
19,20.ª edición - 2006 29 de enero de 2006,Isabel Coixet (1) José Corbacho y Juan Cruz,Female
31,32.ª edición - 2018 3 de febrero de 2018,Isabel Coixet (2) Carla Simón,Female

In [16]:
path = 'C:/Users/user/Jupyter/IronHack/Work - Python/Week3/Personal Project Web Scraping/oscar_gender.csv'

# path = 'C:/Users/user/Jupyter/IronHack/Work - Python/Week3/Personal Project Web Scraping/oscar.csv'

df_oscar = pd.read_csv(path,sep=';')
print("Premios Oscar")
df_oscar['Gender'].tail(38).value_counts().reset_index()

Premios Oscar

   Gender  count
0    Male     35
1  Female      3

In [17]:
df_oscar.loc[df_oscar['Gender']=='Female']

,Oscar Year,Movie Title,Movie Studio,Movie Productor,Movie Director,Gender,Movie Genre
81,82.ª ceremonia de entrega de los Premios Óscar...,The Hurt Locker,Summit Entertainment,Kathryn BigelowMark Boal Nicolas Chartier Greg...,Kathryn Bigelow,Female,Acción / Suspense
92,93.ª ceremonia de entrega de los Premios Óscar...,Nomadland,Searchlight Pictures,Frances McDormandPeter SpearsMollye AsherDan J...,Chloé Zhao,Female,Drama
93,94.ª ceremonia de entrega de los Premios Óscar...,CODA,PathéApple TV+,Philippe RousseletFabrice GianfermiPatrick Wac...,Sian Heder,Female,Comedia dramática / Coming-of-age

In [21]:
df_goya['Gender'].tail(10).value_counts().reset_index()

   Gender  count
0    Male      9
1  Female      1

In [23]:
df_oscar['Gender'].tail(10).value_counts().reset_index()

   Gender  count
0    Male      8
1  Female      2